* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.contacts {
  display: flex;
  flex-direction: column;

  position: relative;
  min-height: 90vh;
  width: 600px;
  margin: 1rem auto;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../../public/images/HOMEPAGE4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  text-align: center;
  width: 100%;
}

.contacts .content h2 {
  font-size: 36px;
  font-weight: 500;
  /* color: #fff; */
}

.contact .content p {
  font-weight: 300;
  margin-top: 1rem;
  /* color: #fff; */
}

.contact-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.contact-container .contactinfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.contact-container .contactinfo .box {
  position: relative;
  padding: 10px 0;
  display: flex;
}

.contact-container .contactinfo .box .icon {
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: #fff;
  font-size: 22px;
}

.contact-container .contactinfo .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  flex-direction: column;
  font-weight: 300;
}

.contact-container .contactinfo .box h3 {
  /* font-weight: 500; */
  color: #d40000c7;
}

.contactform {
  width: 100%;
  padding: 40px;
  background: white;
}

.contactform h2 {
  font-size: 30px;
  color: #333;
  font-weight: 500;
}

.contactform .inputbox {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactform .inputbox input,
.contactform .inputbox textarea {
  width: 100%;
  padding: 5px 0px;
  font-size: 16px;
  border: none;
  margin: 10px 0;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactform .inputbox span {
  position: absolute;
  left: 0;
  padding: 5px 0px;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translatey(-20px);
}

.contactform .inputbox input[type="submit"] {
  width: 100px;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
body {
  position: relative;
}

.contacts {
  padding: 3rem 1rem;
  position: fixed;
  top: 8%;
  left: 30%;
  z-index: 0;
}

.contact-container {
  flex-direction: column;
}

.contact-container .contactinfo {
  margin-bottom: 40px;
  width: 50%;
}

.contact-container .contactinfo,
.contactform {
  width: 100%;
}
@media (max-width: 768px) {
  .contacts {
    position: fixed;
    width: 95vw;
    height: 70vh;
    top: 7%;
    left: 2%;
  }
}
