.home-container {
  height: 93vh;
  width: 100vw;
  background-image: url("../../../public/images/homepag1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  animation: slider 20s linear 5s infinite none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes slider {
  0% {
    background-image: url("../../../public/images/homepag1.jpg");
  }
  40% {
    background-image: url("../../../public/images/HOMEPAGE4.jpg");
  }
  85% {
    background-image: url("../../../public/images/HOMEPAGE5.jpg");
  }
}
