@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&family=Montserrat:wght@300;400;500;700&family=Mulish&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,700;1,800&family=Piazzolla:opsz,wght@8..30,300;8..30,400;8..30,500;8..30,600;8..30,700&family=Poppins:ital,wght@0,200;0,400;0,700;1,500&family=Roboto:ital,wght@0,100;0,300;0,500;1,100;1,300;1,400;1,500&family=Smokum&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Lato", sans-serif;
}
.text-light {
  color: #fff;
}
.text-weight {
  font-weight: 500;
}
li {
  list-style: none;
}
.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}
.Button {
  background-color: #16a083;
  color: #fff;
  font-weight: 500;
  font-size: 1.3rem;
  padding: 1rem 2rem;
  border-radius: 3rem;
  text-align: center;
  outline: none;
  margin-top: 1em;
  text-decoration: none;
  cursor: pointer;
}
